body{
  background: #f4f4f4;
  font-style: arial;
}

.navbar-nav{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}


/* .navbar-nav > li > a, .navbar brand{
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
} */
/* my css color for navbar from wrokmarchal*/ 
.navbar {
  background-color: #f62727;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fbd5da;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #fbd5da;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #fbd5da; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #fbd5da;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #612c32;
  background-color: #b66161;
}
.navbar .navbar-toggle {
  border-color: #b66161;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #b66161;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #fbd5da;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #8b0000;
  padding: 20px 13px;
}


/*custom*/
.main-color-bg{
  background-color: #e74c3c !important;
border-color: #c0392b !important;
color: #ffffff !important;
}
/*header styling*/
#header{
  background: #333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
 margin-top: -21px;
}

#header .create {
  padding-top: 20px;
}

/*breadcrumb*/
.breadcrumb {
  background: #cccccc;
  color: #333333;
}

.breadcrumb a{
  color: #333333;
}
/*progress bar*/
.progress-bar{
  
  color: #ffffff;
}
.dash-box{
  text-align: center;
}
.pushnotification{
  background-color: #f62727 !important;
}











































@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fbd5da;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fbd5da;
    background-color: #b66161;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fbd5da;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fbd5da;
    background-color: #b66161;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fbd5da;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fbd5da;
    background-color: #b66161;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fbd5da;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fbd5da;
    background-color: #b66161;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #fbd5da;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #fbd5da;
  background-color: #b66161;
}